<!--
 * @Author: your name
 * @Date: 2020-09-28 11:50:11
 * @LastEditTime: 2020-09-28 11:59:58
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \vueDay01_0928\v-for.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 遍历数组： -->
    <!-- v-for="item in list" -->

    <!-- v-for='(item,index) in list' -->
    <!-- 想要拿到index,必须要写完整 -->
    <div id="app">
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
    </div>
  </body>
  <script src="/vue/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        list: ["张飞", "吕布", "甄姬", "蔡文姬"],
      },
    });
  </script>
</html>
